<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadDILRecords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ReadDILRecords.Properties.Settings>
            <setting name="ReadDILRecords_SalesDataService_SalesDetails"
                serializeAs="String">
                <value>http://103.138.239.29:7047/DynamicsNAV71/WS/Devyani%20International%20Ltd(KFC)/Codeunit/SalesDetails</value>
            </setting>
            <setting name="ConString" serializeAs="String">
                <value>Server = localhost;Database=StagingDB;Trusted_Connection=True;User Id=ryk7686;Password=kfc@1234</value>
            </setting>
        </ReadDILRecords.Properties.Settings>
    </applicationSettings>
</configuration>